form {
    width: 250px;
    background: aquamarine;
    margin: 0 auto;
    box-shadow: 10px 10px 20px yellowgreen;
    border-radius: 5px;
    padding-left: 20px;
    padding: 20px;
}

form input[type="submit"]{
    background-color: rgb(11, 182, 13);
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

form input[type="button"] {
    background-color: coral;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 5px;
}
form input[type="checkbox"] {
     border-radius: 5px;
}